<% if(typeof err != "undefined") {%>
    <h3 style="color:red"><%=err%></h3>
<%}%>
<% if(typeof error != "undefined") {%>
  <h3 style="color:red"><%=error%></h3>
<%}%>
<% if(typeof success != "undefined") {%>
  <h3 style="color:green"><%=success%></h3>
<%}%>