<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beginner</title>
  <link rel="stylesheet" href="./css/style.css">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Vesper+Libre:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<style>
  html{
    overflow-y: scroll;
  }
</style>
<body>
  <header class="header">
    <div class="header__logo-box">
        <img src="./img/logo.svg" alt="Logo" class="header__logo">
    </div>
</header>
<div class="navigation" onclick="myFunction()">
  <div id="bg-chnage" class="navigation__background" >&nbsp;</div>
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation__button">
      <a href="./explore.html"> <img style=" height: 5rem;" src="./img/back.svg" alt=""></a>
  </label>

</div>
  <div class="beginner__container">
    <div class="container center">
      <div class="beginner__card">
        <img src="./img/beginner/bends.png" alt="">
        <h3>bends</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/heel touch.png" alt="">
        <h3>Heel touch</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/high kneels.png" alt="">
        <h3>high kneels</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/knew raises.png" alt="">
        <h3>knew raises</h3>
        <button>Start</button>
      </div>

      <div class="beginner__card">
        <img src="./img/beginner/leg pulls.png" alt="">
        <h3>leg pulls</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/punches.png" alt="">
        <h3>punches</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/rope skips.png" alt="">
        <h3>rope skips</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/running.png" alt="">
        <h3>running</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/side bands.png" alt="">
        <h3>side bands</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/side deep squearts.png" alt="">
        <h3>side deep squearts</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/squarts arm left.png" alt="">
        <h3>squarts arm left</h3>
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/beginner/step back jacks.png" alt="">
        <h3>step back jacks</h3>
        <button>Start</button>
      </div>
      
    </div>
  </div>
</body>
</html>