<%- include('partials/nav.ejs')  %> 
<h1>upload video</h1>
<form action="/uploadvideo" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <button>submit</button>
</form>

<h1>Update profile</h1>
<form action="/update" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="age" placeholder="age">
    <input type="text" name="weight" placeholder="weight">
    <input type="text" name="about" placeholder="about">
    <input type="file" name="file">
    <button>submit</button>
</form>