<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medium</title>
  <link rel="stylesheet" href="./css/style.css">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Vesper+Libre:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<style>
  html{
    overflow-y: scroll;
  }
  
  .beginner__container .container {
            margin-top: 10rem;
            min-height: 90rem;
        }
</style>
<body>
  <header class="header">
    <div class="header__logo-box">
        <img src="./img/logo.svg" alt="Logo" class="header__logo">
    </div>
</header>
<div class="navigation" onclick="myFunction()">
  <div id="bg-chnage" class="navigation__background" >&nbsp;</div>
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation__button">
      <a href="./explore.html"> <img style=" height: 5rem;" src="./img/back.svg" alt=""></a>
  </label>

</div>
  <div class="beginner__container">
    <div class="container center">
      <div class="beginner__card">
        <img src="./img/mudras/1.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/2.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/3.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/4.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>

      <div class="beginner__card">
        <img src="./img/mudras/5.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/6.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/7.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>
      <div class="beginner__card">
        <img src="./img/mudras/8.svg" alt="">
        <!-- <h3>Rikka</h3> -->
        <button>Start</button>
      </div>

      
    </div>
  </div>
</body>
</html>