// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {

    &__logo-box{
        z-index: 10000;
        position: absolute;
        top: 3.5rem;
        left: 3rem;
        background-color:transparent;
    }

    &-container{
        width: 80%;
        display: flex;
        margin: auto;
        margin-top: -1%;
        align-items: center;
        justify-content: space-evenly;
    }

    &__text-box{
        flex:2;
        width: 100%;
        // background-color: rgb(241, 145, 145);
        
    }
    
    &__img{
        flex: 1;
        // margin-right:-10%;
        // padding-left:20%;
        // background-color: rgb(145, 219, 241);
    }

    
    p{
        color: $color-light-grey;
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 1.6rem;
        width: 75%;

        span{
            font-weight: 600;
            color: $color-white;
        }
    }
    a{
        position: absolute;
        left: 10%;
        top:55rem;

        .dot:after{
            display: block;
            position: absolute;
            transform:translate(-1.5rem,0.9rem) ;
            
            // transform:translate(12rem,0.9rem) ;
            z-index: -10;
            width: 0.6rem;
            height: 0.6rem;
            background: $color-pink;
            border-radius: 50%;
            content: '';
            transition: all 2s;
        }

        &:hover{
            .dot:after{
                animation:moveInRIght 0.5s linear forwards;
            }
            color: $color-white !important;
            transition: all 1s;
        }
    }
}