.section-profile{
    font-family: 'Poppins';
    width: 80%;
    height: 90vh;
    background-color: $color-primary;
    color: rgb(85, 83, 83);
    font-size: 3rem;
    margin: auto;
    margin-top: 4rem;
}

.profile{
    &__container{
        &--1,&--2{
            display: flex;
        }
        &--1{
        height: 30vh;
        // width: 97%;
        }
        &--2{
            height: 55vh;
            // width: 97%;
        }
    }
    &__image{ //A
        flex: 1;
        background-color: #C054C6;
        
        // background-color: rgb(243, 154, 199);
        //box-shadow: 10px 10px 55px -7px rgba(0,0,0,0.75);

        .img{
            margin: auto;
            margin-top: 2.3rem;
            height: 22vh;
            width: 11vw;
            border-radius: 50%;
            img{
                height: 22vh;
            }
        }
    }

    &__badges{ //B
        flex: 3;
        //box-shadow: 10px 10px 55px -7px rgba(0,0,0,0.75);

        // background-color: rgb(243, 227, 154);
        background-color: #C054C6;

        &--text{
            display: flex;
            flex-direction: column;
            p{
                width: 65%;
                font-size: 1.6rem;
                padding: 0rem 0rem 2rem 0rem;
                margin: 3rem 0 0rem 3rem;
                border-bottom: 0.2px solid #00000048;
            }
        }
        &--show{

            img{
                height: 12rem;
            }
        }
    }
    &__about{ //C
        flex: 1;
        //box-shadow: 10px 10px 55px -7px rgba(0,0,0,0.75);

        background-color: #FFE374;
        // background-color: rgb(154, 243, 161);

        &--text{
            font-size: 2.5rem;
            width: 90%;
            margin: auto;
            text-transform: capitalize;
            // background-color: rgb(218, 77, 77);
            h4{
                width: 60%;
                margin: auto;
                margin-top: 3rem;
                margin-bottom: 3rem;
                // margin-left: 3rem;
            }
            h6{
                margin: 1rem;
            }
        }

    }

    &__videos{ //D
        flex: 3;
        //box-shadow: 10px 10px 55px -7px rgba(0,0,0,0.75);

        background-color: #FFE374   ;
        // background-color: rgb(154, 243, 224);

    }
}

.container{
    display: flex;
    padding-left:2.3rem ;
    margin: auto;
    margin-top:4rem ;
    width: 100%;
    .card{
        height: 40vh;
        width: 40rem;
        // z-index: -100;
        background-color: #000000;
        video{
            z-index: 2;
            height: 40vh;
            width: 40rem;
        }
    }
}


