


.ASYFCUWK_0{
    stroke-dasharray:649 651;
    stroke-dashoffset:650;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_1{
    stroke-dasharray:1277 1279;
    stroke-dashoffset:1278;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_2{
    stroke-dasharray:44 46;
    stroke-dashoffset:45;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_3{
    stroke-dasharray:22 24;
    stroke-dashoffset:23;
    animation:ASYFCUWK_fade 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_4{
    stroke-dasharray:44 46;
    stroke-dashoffset:45;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_5{
    stroke-dasharray:41 43;
    stroke-dashoffset:42;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_6{
    stroke-dasharray:19 21;
    stroke-dashoffset:20;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_7{
    stroke-dasharray:57 59;
    stroke-dashoffset:58;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_8{
    stroke-dasharray:57 59;
    stroke-dashoffset:58;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_9{
    stroke-dasharray:82 84;
    stroke-dashoffset:83;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_10{
    stroke-dasharray:222 224;
    stroke-dashoffset:223;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_11{
    stroke-dasharray:123 125;
    stroke-dashoffset:124;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_12{
    stroke-dasharray:32 34;
    stroke-dashoffset:33;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_13{
    stroke-dasharray:53 55;
    stroke-dashoffset:54;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_14{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_15{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_16{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_17{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_18{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_19{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_20{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_21{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_22{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_23{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_24{
    stroke-dasharray:82 84;
    stroke-dashoffset:83;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_25{
    stroke-dasharray:72 74;
    stroke-dashoffset:73;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_26{
    stroke-dasharray:84 86;
    stroke-dashoffset:85;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_27{
    stroke-dasharray:75 77;
    stroke-dashoffset:76;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_28{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_29{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_30{
    stroke-dasharray:73 75;
    stroke-dashoffset:74;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_31{
    stroke-dasharray:66 68;
    stroke-dashoffset:67;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_32{
    stroke-dasharray:73 75;
    stroke-dashoffset:74;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_33{
    stroke-dasharray:66 68;
    stroke-dashoffset:67;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_34{
    stroke-dasharray:73 75;
    stroke-dashoffset:74;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_35{
    stroke-dasharray:66 68;
    stroke-dashoffset:67;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_36{
    stroke-dasharray:73 75;
    stroke-dashoffset:74;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_37{
    stroke-dasharray:66 68;
    stroke-dashoffset:67;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_38{
    stroke-dasharray:76 78;
    stroke-dashoffset:77;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    .ASYFCUWK_39{
    stroke-dasharray:67 69;
    stroke-dashoffset:68;
    animation:ASYFCUWK_draw 2500ms linear 0ms forwards;
    }
    @keyframes ASYFCUWK_draw{
    100%{
    stroke-dashoffset:0;
    }}
    @keyframes ASYFCUWK_fade{
    0%{
    stroke-opacity:1;
    }
    94%{
    stroke-opacity:1;
    }
    100%{
    stroke-opacity:0;
    }
    }

    #flower1,
    #flower2,
    #leaf1,
    #leaf2,
    #leaf3,
    #leaf4,
    #leaf5,
    #leaf6{
        animation: fadeIn 1s 2.5s forwards  ;
        opacity: 0;
    }
    #bud1
    {
        animation: fadeIn 1s 3.8s forwards ;
        opacity: 0;
    }
    #bud2{
        animation: fadeIn 1s 3.2s forwards ;
        opacity: 0;
    }
    
    @keyframes fadeIn {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }


    @keyframes moveIn {
        0%   { transform:rotateZ(0deg) ; }
        50% { transform:rotateZ(-25deg); }
        100%{ transform:rotateZ(0deg) ; }
    }


#bubble{
    &-1{
        animation:translateIn-1 5s 4.2s linear infinite ;
        opacity: 0;
        transform: translateX(-1.5rem) translateY(3rem);
    }

    &-2{
        animation:translateIn-2 5s 1.5s + 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-24px) translateY(58px);
    }
    &-3{
        animation:translateIn-3 5s 2s + 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-58px) translateY(45px);
    }
    &-4{
        animation:translateIn-4 5s 2.5s + 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-47px) translateY(96px);
    }
    &-5{
        animation:translateIn-5 5s 3s+ 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-100px) translateY(105px);
    }
    &-6{
        animation:translateIn-6 5s 3.5s+ 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-95px) translateY(152px);
    }
    &-7{
        animation:translateIn-7 5s 4s+ 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-155px) translateY(150px);
    }
    &-8{
        animation:translateIn-8 5s 4.5s+ 3.2s linear infinite ;
        opacity: 0;
        transform: translateX(-165px) translateY(185px);
    }
}

@keyframes translateIn-1 {
    0%{
        transform: translateX(-15px) translateY(30px);
        opacity: 0;
    }
    80% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px) translateY(0px) ;
        opacity: 0;
    }
}
@keyframes translateIn-2 {
    0%{
        transform: translateX(-24px) translateY(58px);
        opacity: 0;
    }
    80% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px) translateY(0px) ;
        opacity: 0;
    }
}
@keyframes translateIn-3 {
    0%{
        transform: translateX(-58px) translateY(45px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes translateIn-4 {
    0%{
        transform: translateX(-47px) translateY(96px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes translateIn-5 {
    0%{
        transform: translateX(-100px) translateY(105px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes translateIn-6 {
    0%{
        transform: translateX(-95px) translateY(152px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes translateIn-7 {
    0%{
        transform: translateX(-155px) translateY(150px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes translateIn-8 {
    0%{
        transform: translateX(-165px) translateY(185px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}
@keyframes moveInRIght{
    0% {
        // background-position: right bottom;
        // background-color: #ffffff;
        
        transform:translate(-1.5rem,1rem) ;
    }
    100% {
        // background-position: left bottom;
        // background-color: #8ec6c5;
        transform: translate(15rem,0.9rem);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
}

@keyframes moveInRIght--text{
    0% {
        background-position: right bottom;
        color: #ffffff;
    }
    100% {
        background-position: left bottom;
        color: $color-primary;
    }
}